{% extends "base-navbar.html" %}

{% block header %}
<h2 style="text-align: center;">URL Status Monitor</h2>
<!-- <p style="text-align: center;"><small>For <a href="https://www.newsnow.co.uk/">NewsNow</a>
    by Chris Bird (<a href="mailto:chrisjbird@gmail.com">chrisjbird@gmail.com)</a></small></p> -->
{% endblock %}

{% block body %}
    <p>For <a href="https://www.newsnow.co.uk/">NewsNow</a>
    by Chris Bird (<a href="mailto:chrisjbird@gmail.com">chrisjbird@gmail.com)</a></p>
    <p>Code on <a href="https://github.com/drkvogel/newsnow-test">GitHub</a></p>
{% endblock %}