    <script src="{{ url_for('static', filename='js/vendor/modernizr-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-3.3.1.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='https://code.jquery.com/jquery-3.3.1.min.js') }}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
    <!-- following causes syntax highlighting error but is valid HTML/JS after processing by Jinja -->
    <!-- <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-3.3.1.min.js') }}"><\/script>')</script> -->
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
