    <ul>
        <li><a href="./">home</a></li>
        <!-- <li><a href="./showconfig?id=1">./showconfig?id=1</a></li>: table showing the lights in a config
        <li><a href="./getconfig?id=1">./getconfig?id=1</a></li>: JSON config requested by frontend
        <li><a href="./dashboard?id=1">./dashboard?id=1</a>: 200, 301, 404</li>
        <li><a href="./dashboard?id=4">./dashboard?id=4</a>: 4 patterns of changing statuses</li> -->
        <li><a href="./status">./status</a>: endpoint returning a status or pattern of statuses over time</li>
    </ul>
