{% extends "base.html" %}

{% block header %}
    <h2 style="text-align: center;">URL Status Monitor</h2>
{% endblock %}

{% block body %}
    <div id="statusPanel">
      <!-- <div id="trafficLights" style="text-align: center;">
         <object id="svg1" type="image/svg+xml" data="{{ url_for('static', filename='img/lights.svg') }}">Your browser doesn't support objects.</object>      
      </div> -->
      <!-- <div id="buttons" style="text-align: center;"> 
        <button id="redButton">Red</button>
        <button id="grnButton">Green</button>
        <button id="createStatusPanel">Create</button>
        <button id="instantiateStatusPanel">Instantiate</button>
      </div> -->
    </div>
    <div id="statusContainer" data-id="{{ data_id }}">
    </div>
{% include "js.html" %}
{% endblock %}
