{% extends "base.html" %}

{% block title %}200 OK{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<p>No status supplied - try these:</p>
<ul>
    <li><a href="/status?code=200">200 OK</a></li>
    <li><a href="/status?code=300">300 Multiple Choices</a></li>
    <li><a href="/status?code=301">301 Moved Permanently</a></li>
    <li><a href="/status?code=302">302 Found</a></li>
    <li><a href="/status?code=304">304 Not Modified</a></li>
    <li><a href="/status?code=307">307 Temporary Redirect</a></li>
    <li><a href="/status?code=400">400 Bad Request</a></li>
    <li><a href="/status?code=401">401 Unauthorized</a></li>
    <li><a href="/status?code=403">403 Forbidden</a></li>
    <li><a href="/status?code=404">404 Not Found</a></li>
    <li><a href="/status?code=410">410 Gone</a></li>
    <li><a href="/status?code=500">500 Internal Server Error</a></li>
    <li><a href="/status?code=501">501 Not Implemented</a></li>
    <li><a href="/status?code=503">503 Service Unavailable</a></li>
    <li><a href="/status?code=550">550 Permission denied</a></li>
</ul>
<!-- {% include "http-statuses.html" %} -->
{% endblock %}
